<div class="row">
  <div class="col-md-12">
    <h1 class="display-4">Рабочий стол</h1>
    <hr>
  </div>
</div>

<!-- уведомление о том что нет сценариев -->
<div class="row" *ngIf="!isLoadScenario && scenarios.data.length == 0">
  <div class="col-md-12">
    <div class="alert alert-primary" role="alert">
      У вас нет ни одного сценария, перейдите в
      <a href="#" routerLink="/settings" style="text-decoration: underline;">настройки</a> для создания.
    </div>
  </div>
</div>
<!-- /уведомление о том что нет сценариев -->

<!-- вывод рабочего стола -->
<div class="row" *ngIf="!isLoadScenario && scenarios.data.length > 0">
  <!-- спсиок сценариев -->
  <div class="col-md-3 scenariosList">
    <ngb-accordion #acc="ngbAccordion" [closeOthers]="true" (panelChange)="selectScenario($event)" [activeIds]="[0]" style="height: 100vh;position: sticky;top: 10px;">
      <ngb-panel title="{{scenario.name}}" *ngFor="let scenario of scenarios.data; let i = index" [id]="i">
        <ng-template ngbPanelContent>
          <div *ngIf="isLoadGroups">Загрузка групп...</div>
          <div *ngIf="!isLoadGroups && groups.length > 0">
            <!-- вывод только родительских элементов групп -->
            <ul class="list-group list-group-flush">
              <li *ngFor="let gr of groups" class="list-group-item itemerSelectRootDir" [ngClass]="{'active': (groupSelect != undefined && gr.id == groupSelect.id)}"
                (click)="loadQuestion(gr)">
                {{gr.name}}
              </li>
            </ul>
            <!-- /вывод только родительских элементов групп -->
          </div>
          <div *ngIf="!isLoadGroups && groups.length == 0" class="alert alert-warning">Групп не найдено</div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
  <!-- загрузка -->
  <div *ngIf="isLoadScenario" class="col-md-3">Загрузка сценариев...</div>
  <!-- /спсиок сценариев -->

  <!-- Ответы -->
  <div class="col-md-6">
    <h3 *ngIf="groupSelect != undefined">{{groupSelect.name}}</h3>
    <hr *ngIf="groupSelect != undefined">
    <div *ngFor="let gr of questions">
      <!-- бег по группам -->
      <h4 *ngIf="gr.id != groupSelect.id && gr.questions.length > 0">{{gr.name}}</h4>
      <hr *ngIf="gr.id != groupSelect.id && gr.questions.length > 0">
      <div *ngIf="gr.questions.length > 0">
        <div *ngFor="let q of gr.questions" class="question">
          <div class="plashkaAnswer" id="question{{q.id}}" (click)="q.display = !q.display">{{q.question}}</div>
          <div *ngIf="q.display">
            <div *ngFor="let answer of q.answers" class="blockAnswer fr-view" [innerHtml]="answer  | keepHtml"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Ответы -->


  <!-- Подгруппы -->
  <div class="col-md-3" id="zooStyle" *ngIf="(groupSelect != undefined)" style="height: 100vh; position: sticky; top: 10px;">
    <app-new-display-children-groups [group]="groupSelect" (onChange)="dataFromCom($event)" [pos]="isOpenClose()" [scroll]="classScroll"></app-new-display-children-groups>
    <!-- {{groupSelect | json}} -->
  </div>

  <div class="col-md-3" *ngIf="(groupSelect != undefined)">
    <!-- <div class="alert alert-warning"></div> -->
  </div>
  <!-- Подгруппы -->

</div>
<!-- /вывод рабочего стола -->