<div class="card" *ngIf="isLoading && scenarios != undefined">
  <div class="card-header">
      <ul class="nav nav-pills card-header-pills">
          <li class="nav-item">
              <a class="nav-link disabled" style="font-size: 1.2rem;">Сценарии</a>
            </li>
          <li class="nav-item">
              <span class="btn btn-primary btn-sm" style="cursor: pointer;margin-bottom: -15px;" routerLink="/scenario/add" href="#"><i class="fa fa-plus" aria-hidden="true"></i> Создать сценарий</span>
          </li>
        </ul>
  </div>
  <div *ngIf="scenarios.data.length == 0" class="card-body">
      <div class="alert alert-warning" role="alert">
        Сценарии не найдены. Создайте сценарии для работы.
      </div>
  </div>
  <table class="table" *ngIf="scenarios.data.length > 0">
    <thead class="thead-default">
      <tr>
        <th>Имя</th>
        <th>Опции</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let scenario of scenarios.data">
        <td>
          <div>
            <a href="#" class="text-primary" routerLink="/scenario/edit/{{scenario.id}}" *ngIf="scenario.isMyScenario">{{scenario.name}}</a>
            <span *ngIf="!scenario.isMyScenario">{{scenario.name}}</span>
          </div>
          <small class="text-success" *ngIf="scenario.isMyScenario">Мой сценарий</small>
        </td>
        <td>
          <span class="btn btn-info btn-sm" style="cursor:pointer;" (click)="copy(scenario.id)"><i class="fa fa-clone" aria-hidden="true"></i> Копировать</span>
          <span class="btn btn-secondary btn-sm" style="cursor:pointer;" *ngIf="scenario.is_edit" routerLink="/scenario/edit/{{scenario.id}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Редактировать</span>
          <span class="btn btn-warning btn-sm" style="cursor:pointer;" *ngIf="scenario.is_edit" (click)="delete(scenario.id)"><i class="fa fa-trash" aria-hidden="true"></i> Удалить</span>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="card-footer" style="padding-bottom: 0px;"  *ngIf="scenarios.last_page > 1">
      <ngb-pagination [maxSize]="5" [rotate]="true" [collectionSize]="scenarios.total" [(page)]="page"
          [boundaryLinks]="true" (pageChange)="pageLoad(page)"></ngb-pagination>
  </div>
</div>
<div *ngIf="!isLoading">
  <p class="lead">Загрузка сценариев</p>
</div>