<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="isLogin" style="background-color: #1a237e !important;">
  <a class="navbar-brand" href="#" routerLink="/">Logo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link active" href="#" routerLink="/">
          <i class="fa fa-home" aria-hidden="true"></i> Рабочий стол</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#" routerLink="/settings">
          <i class="fa fa-cog" aria-hidden="true"></i> Настройка</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#" routerLink="/profile">
          <i class="fa fa-user" aria-hidden="true"></i> Профиль</a>
      </li>

    </ul>
    <ul class="navbar-nav">
      <li>
        <a class="nav-link active" (click)="logout()" href="#">Выход
          <i class="fa fa-sign-out" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>