<div class="row">
    <div class="col-md-12">
        <h1 class="display-4" *ngIf="!isEdit">Создание сценария</h1>
        <h1 class="display-4" *ngIf="isEdit">Редактирование сценария</h1>
        <hr>
    </div>
</div>
<form [formGroup]="ScenarioForm" (ngSubmit)="submit(ScenarioForm.value)">
    <div *ngIf="ScenarioForm.controls['name'].hasError('required') && ScenarioForm.controls['name'].dirty" class="alert alert-danger">
        Введите пароль
    </div>
    <div class="row" *ngIf="isLoading">
        <div class="col-md-6">
            <div class="form-group">
                <label>Название формы</label>
                <input type="text" [formControl]="ScenarioForm.controls['name']" class="form-control" placeholder="Название сценария">
            </div>
        </div>
        <div class="col-md-6" style="padding: 2rem">
            <button type="submit" style="cursor:pointer;" *ngIf="!isEdit && !submitLoading" class="btn btn-success" [disabled]="!ScenarioForm.valid">
                <i class="fa fa-plus" aria-hidden="true"></i> Создать</button>
            <button type="submit" style="cursor:pointer;" *ngIf="isEdit && !submitLoading" class="btn btn-success" [disabled]="!ScenarioForm.valid">
                <i class="fa fa-floppy-o" aria-hidden="true"></i> Сохарнить</button>
            <button class="btn btn-success" style="cursor:pointer;" *ngIf="submitLoading" [disabled]="true"><i class="fa fa-refresh" aria-hidden="true"></i> Отправка</button>
        </div>
    </div>
    <!-- <div *ngIf="!isLoading">Загрузка</div> -->

    <!-- <div class="row" *ngIf="!isEdit">
        <div class="col-md-6">
            <app-group *ngIf="!isEdit" title="Все группы" [isScenario]='true' typeRelation="add"></app-group>
        </div>
    </div> -->

    <div class="row" *ngIf="isEdit && scenarioData != undefined">
        <div class="col-md-6" *ngIf="scenarioData.groups.length > 0">
            <div>
                <app-group (relation)="relation($event)" (refreshScenario)="refreshScenario($event)" typeRelation="delete" [treeGroups]="scenarioData.groups"
                    titler="Привязанные" [addRoot]="false" [isScenario]='true'></app-group>
            </div>
        </div>

        <div class="col-md-6">
            <app-group titler="Все группы" [ids]="scenarioData.ids" (relation)="relation($event)" [isScenario]='true' typeRelation="add"></app-group>
        </div>
    </div>
</form>