<div class="modal-header">
  <h5 class="modal-title">
    <div *ngIf="state == 'list'">Вопросы и ответы для группы: {{group.name}}</div>
    <div *ngIf="state == 'add'">Создание вопроса</div>
  </h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closer()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<!-- список вопросов -->
<div class="modal-body" *ngIf="state == 'list'">
  <div *ngIf="!isLoading">
    <div style="margin-bottom: 1rem">
      <span class="btn btn-primary" (click)="createQuestion()">
        <i class="fa fa-plus" aria-hidden="true"></i> Создать вопрос</span>
    </div>
    <div *ngIf="questions.length == 0">
      Извените, но по данной группе, вопросов нет.
    </div>
    <ngb-accordion #acc="ngbAccordion" [closeOthers]="true" *ngIf="questions.length > 0">
      <ngb-panel title="{{question.question}}" *ngFor="let question of questions" style="margin-bottom: 1rem;">
        <ng-template ngbPanelContent>
          <div class="text-center" style="padding-bottom: 1rem;">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button class="btn btn-secondary btn-sm" (click)="updateQuestion(question)">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Редактировать
              </button>
              <button class="btn btn-info btn-sm" (click)="copyQuestion(question.id)">
                <i class="fa fa-clone" aria-hidden="true"></i> Копировать
              </button>
              <button class="btn btn-warning btn-sm" (click)="deleteQuestion(question.id)">
                <i class="fa fa-trash" aria-hidden="true"></i> Удалить
              </button>
            </div>
          </div>
          <ul class="list-group">
            <li class="list-group-item fr-view" *ngFor="let answer of question.answers" [innerHtml]="answer  | keepHtml">
            
            </li>
          </ul>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
  <div *ngIf="isLoading">Загрузка вопросов...</div>
</div>
<!-- /список вопросов -->

<!-- Создание вопроса -->
<form [formGroup]="QuestionForm" (ngSubmit)="( state == 'add' ) ? addSubmit(QuestionForm.value) : editSubmit(QuestionForm.value)"
  *ngIf="state == 'add' || state == 'edit'">
  <div class="modal-body" *ngIf="!isLoading">
    <div *ngIf="QuestionForm.controls['question'].hasError('required') && QuestionForm.controls['question'].dirty" class="alert alert-danger">
      Введите вопрос
    </div>
    <div *ngIf="QuestionForm.controls['sort'].hasError('required') && QuestionForm.controls['sort'].dirty" class="alert alert-danger">
      Укажите приориет целым числом
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="form-group">
          <label>Вопрос</label>
          <input type="text" [formControl]="QuestionForm.controls['question']" class="form-control" placeholder="Вопрос">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Приоритет</label>
          <input type="text" [formControl]="QuestionForm.controls['sort']" class="form-control" placeholder="Приоритет">
        </div>
      </div>
    </div>
    <hr>
    <div formArrayName="answers" *ngFor="let answer of QuestionForm.get('answers').controls; let i = index;">

      <div class="row">
        <div class="col-md-8">
          <textarea [froalaEditor] [formControlName]="i" id="{{i}}" class="form-control editorWysiwyg" placeholder="Ответ"></textarea>
          
        </div>
        <div class="col-md-2">
          <span class="btn btn-info" *ngIf="i > 0" (click)="move(i, (i - 1))">
            <i class="fa fa-chevron-up" aria-hidden="true"></i>
          </span>
          <span class="btn btn-info" (click)="move(i, (i + 1))" *ngIf="i != (QuestionForm.get('answers').controls.length - 1)">
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
          </span>
        </div>
        <div class="col-md-2 text-right">
          <span class="btn btn-primary" (click)="addAnswer()">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </span>
          <span class="btn btn-warning" (click)="deleteAnswer(i)">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </span>
        </div>
      </div>
      <hr>
    </div>

  </div>
  <div class="modal-footer" *ngIf="state == 'add'">
    <span class="btn btn-outline-secondary" (click)="backList()" *ngIf="!isLoadingSubmit">
      <i class="fa fa-chevron-left" aria-hidden="true"></i> Отменить и вернутся к списку</span>
    <button type="submit" class="btn btn-success" *ngIf="!isLoadingSubmit" [disabled]="!QuestionForm.valid">
      <i class="fa fa-floppy-o" aria-hidden="true"></i> Добавить</button>

    <button type="submit" class="btn btn-success" *ngIf="isLoadingSubmit" [disabled]="true">Отправка...</button>
  </div>

  <div class="modal-footer" *ngIf="state == 'edit'">
      <span class="btn btn-outline-secondary" (click)="backList()" *ngIf="!isLoadingSubmit">
        <i class="fa fa-chevron-left" aria-hidden="true"></i> Отменить и вернутся к списку</span>
      <button type="submit" class="btn btn-success" *ngIf="!isLoadingSubmit" [disabled]="!QuestionForm.valid">
        <i class="fa fa-floppy-o" aria-hidden="true"></i> Обновить</button>
  
      <button type="submit" class="btn btn-success" *ngIf="isLoadingSubmit" [disabled]="true">Отправка...</button>
    </div>
</form>

<!-- /Создание вопроса -->