.groupname{
    cursor: pointer;
}

.qList{
    cursor: pointer;
    margin-left: 15px;
}

.qListActive{
    background-color: #311b92;
    color: white;
    padding-left: 15px;
    cursor: pointer;
}

.fixedEr{
    /* position: fixed; */
}

