<div *ngIf="!isLoadQuestion && data.length > 0" style="height: 100%;">
  <!-- {{pos | json}} -->
  <div class="card {{scroll}}" id="zooCol" style="height: calc(100% - 10px)">
    <div class="card-header">
      <div class="row">
        <div class="col-md-10">
          {{group.name}}
        </div>
        <div class="col-md-2 text-right">
          <div class="btn btn-secondary btn-sm" (click)="closeAll()" *ngIf="(counter() == 'open' && pos =='open') || (counter() == 'close' && pos =='open') || (counter() == 'open' && pos =='close')">
            <i class="fa fa-minus" aria-hidden="true"></i>
          </div>
          <div class="btn btn-secondary btn-sm" (click)="openAll()" *ngIf="counter() == 'close' && pos =='close'">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body" id="zooGroups">
      <div>
        <div *ngFor="let gr of data; let i = index">
          <div (click)="open(i)" style="cursor: pointer;" *ngIf="inter(gr.id) != inter(group.id)">
            <i class="fa fa-caret-right" *ngIf="!gr.display" aria-hidden="true"></i>
            <i class="fa fa-caret-down" *ngIf="gr.display" aria-hidden="true"></i>
            {{gr.name}}
          </div>
          <div *ngIf="gr.questions.length > 0 && inter(gr.id) == inter(group.id)">
            <div *ngFor="let q of gr.questions" (click)="goTo(q.id)" [ngClass]="(selectedQuestionId == q.id) ? 'qListActive': 'qList'">
              {{q.question}}
            </div>
          </div>
          <div *ngIf="gr.display && gr.questions.length > 0 && inter(gr.id) != inter(group.id)">
            <div *ngFor="let q of gr.questions" (click)="goTo(q.id)" [ngClass]="(selectedQuestionId == q.id) ? 'qListActive': 'qList'">
              {{q.question}}
            </div>
          </div>
          <div *ngIf="gr.display && gr.questions.length == 0" style="margin-left: 15px;" class="text-secondary">
            <small>Нет данных по вопросам</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!isLoadQuestion && data.length == 0">
  <div class="alert alert-warning">Нет данных в группе</div>
</div>

<div *ngIf="isLoadQuestion">
  <i class="fa fa-spinner" aria-hidden="true"></i> загрузка
</div>