<div class="row">
  <div class="col-md-12">
    <h1 class="display-4">Рабочий стол</h1>
    <hr>
  </div>
</div>

<div class="row" *ngIf="!isLoadScenario && scenarios.data.length == 0">
  <div class="col-md-12">
      <div class="alert alert-primary" role="alert">
          У вас нет ни одного сценария, перейдите в 
          <a href="#" routerLink="/settings" style="text-decoration: underline;">настройки</a> для создания.
        </div>
  </div>
</div>

<div class="row" *ngIf="!isLoadScenario && scenarios.data.length > 0">
  <!-- Сценари -->
  <div class="col-md-3">
    <ngb-accordion #acc="ngbAccordion" [closeOthers]="true" (panelChange)="selectScenario($event)" [activeIds]="[0]">
      <ngb-panel title="{{scenario.name}}" *ngFor="let scenario of scenarios.data; let i = index" [id]="i">
        <ng-template ngbPanelContent>
          <div *ngIf="isLoadGroups">Загрузка групп...</div>
          <div *ngIf="!isLoadGroups && groups.length > 0">
            <tree-root #tree [nodes]="groups" (activate)="onActiveGroup($event)"></tree-root>
          </div>
          <div *ngIf="!isLoadGroups && groups.length == 0" class="alert alert-warning">Групп не найдено</div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
  <div *ngIf="isLoadScenario" class="col-md-3">Загрузка сценариев...</div>
  <!-- /Сценари -->

  <!-- ответы -->
  <div class="col-md-6" *ngIf="!isLoadQuestion && questionSelect != undefined">
    <h3 *ngIf="treeComponent != undefined">{{getParentNames(treeComponent.treeModel)}}</h3>
    <hr>
    <div *ngFor="let question of questions" class="question">
      <div class="plashkaAnswer" (click)="toogleQ(question.id)" id="question{{question.id}}">{{question.question}}</div>
      <div *ngIf="toogleGroups[question.id]">
        <div *ngFor="let answer of question.answers" class="blockAnswer" >
          {{answer}}
        </div>
      </div>
    </div>
  </div>
  <!-- /ответы -->

  <!-- ГРуппа -->
  <div class="col-md-3" *ngIf="!isLoadQuestion && questionSelect != undefined">

    <div [ngClass]="classScroll">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-10" *ngIf="treeComponent != undefined && treeComponent.treeModel != undefined && treeComponent.treeModel.getActiveNode() != undefined && treeComponent.treeModel.getActiveNode().data != undefined">
              {{treeComponent.treeModel.getActiveNode().data.name}}
            </div>
            <div class="col-md-2 text-right">
              <div class="btn btn-secondary btn-sm" (click)="closeAll()" *ngIf="toogleState == 'open'">
                <i class="fa fa-minus" aria-hidden="true"></i>
              </div>
              <div class="btn btn-secondary btn-sm" (click)="openAll()" *ngIf="toogleState == 'close'">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush" *ngIf="questions.length > 0">
            <li style="cursor: pointer;" class="list-group-item" *ngFor="let question of questions" (click)="sel(question)" [ngClass]="{'active' : (questionSelect.id == question.id)}">{{question.question}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3" *ngIf="isLoadQuestion">Загрузка вопросов...</div>
  <div class="col-md-6" *ngIf="!isLoadQuestion && questionSelect == undefined">
    <div class="alert alert-warning">Вопрос в данной группе нет</div>
  </div>
  <!-- /ГРуппы -->

</div>