<div class="row">
    <div class="col-md-12">
        <h1 class="display-4">Настройка</h1>
        <hr>
    </div>
</div>
<div class="row">
  <div class="col-md-6">
      <app-scenario></app-scenario>
  </div>
  <div class="col-md-6">
        <app-group></app-group>
  </div>
</div>

