<div *ngIf="access">
  <div class="row">
    <div class="col-md-12">
      <h1 class="display-4">Профиль</h1>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8" *ngIf="managers != undefined">
      <div class="row">
        <div class="col-md-3">
          <span class="btn btn-primary" (click)="openModal(addManager)" style="margin-bottom: 1rem;cursor:pointer;"><i class="fa fa-user-plus" aria-hidden="true" (click)="addManager()"></i> Добавить менеджера</span>
        </div>
        <div class="col-md-9">
          <ngb-pagination *ngIf="managers.last_page > 1" [maxSize]="5" [rotate]="true" [collectionSize]="managers.total" [(page)]="page"
            [boundaryLinks]="true" (pageChange)="pageLoad(page)"></ngb-pagination>
        </div>
      </div>
      <div *ngIf="managers.data == undefined">
          <div class="alert alert-warning" role="alert">
            Менеджеры не найдены.
          </div>
      </div>
      <table class="table table-bordered" *ngIf="managers.data != undefined">
        <thead class="table-inverse">
          <tr>
            <th>Имя</th>
            <th>Email</th>
            <th>Опции</th>
          </tr>
        </thead>
        <tr *ngFor="let user of managers.data">
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td>
            <span class="btn btn-danger btn-sm" style="cursor:pointer;" (click)="delete(user.email)"><i class="fa fa-user-times" aria-hidden="true"></i> Удалить</span>
          </td>
        </tr>
      </table>
      <div class="row" *ngIf="managers != undefined">
        <div class="col-md-3" *ngIf="managers.data != undefined">
          <span class="btn btn-primary" (click)="openModal(addManager)" style="margin-bottom: 1rem;cursor:pointer;"><i class="fa fa-user-plus" aria-hidden="true" (click)="addManager()"></i> Добавить менеджера</span>
        </div>
        <div class="col-md-9">
          <ngb-pagination *ngIf="managers.last_page > 1" [maxSize]="5" [rotate]="true" [collectionSize]="managers.total" [(page)]="page"
            [boundaryLinks]="true" (pageChange)="pageLoad(page)"></ngb-pagination>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <form [formGroup]="ProfileForm" (ngSubmit)="submit(ProfileForm.value)">
        <div class="card">
          <div class="card-header">
            Настройки аккаунта
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <h3><i class="fa fa-universal-access" aria-hidden="true"></i> {{user.name}}</h3>
              <small class="text-muted">{{user.roles}}</small>
            </li>
          </ul>
          <div class="card-body">
            <!-- Ошибки -->
            <div *ngIf="ProfileForm.controls['password'].hasError('required') && ProfileForm.controls['password'].dirty" class="alert alert-danger">
              Введите пароль
            </div>

            <div *ngIf="ProfileForm.controls['password'].hasError('minlength') && ProfileForm.controls['password'].dirty" class="alert alert-danger">
              Пароль должен быть не мение 6 символов
            </div>
            <!-- / Ошибки -->
            <div class="form-group">
              <label for="exampleInputEmail12">Имя</label>
              <input type="text" [formControl]="ProfileForm.controls['name']" class="form-control" id="exampleInputEmail12" placeholder="Имя">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail12">Название компании</label>
              <input type="text" [formControl]="ProfileForm.controls['company']" class="form-control" id="exampleInputEmail12" placeholder="Название компании">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Сменить пароль</label>
              <input type="password" [formControl]="ProfileForm.controls['password']" class="form-control" id="exampleInputPassword1" placeholder="новый пароль">
              <small class="form-text text-muted">Если не хотите менять пароль, то оставте данное поле пустым</small>
            </div>
          </div>
          <div class="card-footer bg-transparent text-right">
            <button *ngIf="!isLoadingSubmit" style="cursor:pointer;" type="submit" class="btn btn-success btn-sm"><i class="fa fa-floppy-o"></i> Сохранить</button>
            <button *ngIf="isLoadingSubmit" style="cursor:pointer;" type="submit" [disabled]="true" class="btn btn-success btn-sm">Сохранение...</button>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>

<div *ngIf="!access && !isLoading">
  <div class="alert alert-danger">
    <h3>Доступ запрещен</h3>
  </div>
</div>


<!-- Modal -->
<ng-template #addManager let-save="save" let-close="close">
  <div class="modal-header">
    <h4 class="modal-title">Добавить менеджера</h4>
    <button type="button" class="close" aria-label="Close" (click)="close('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- Ошибки -->
    <div class="alert alert-danger" *ngFor="let err of save.errorsModal">{{err}}</div>
    <div *ngIf="AddManagerForm.controls['name'].hasError('required') && AddManagerForm.controls['name'].dirty" class="alert alert-danger">
      Ввведите имя
    </div>

    <div *ngIf="AddManagerForm.controls['email'].hasError('required') && AddManagerForm.controls['email'].dirty" class="alert alert-danger">
      Ввведите Email
    </div>

    <div *ngIf="AddManagerForm.controls['email'].hasError('email') && AddManagerForm.controls['email'].dirty" class="alert alert-danger">
      Не корректный email
    </div>

    <div *ngIf="AddManagerForm.controls['password'].hasError('required') && AddManagerForm.controls['password'].dirty" class="alert alert-danger">
      Введите пароль
    </div>

    <div *ngIf="AddManagerForm.controls['password'].hasError('minlength') && AddManagerForm.controls['password'].dirty" class="alert alert-danger">
      Пароль должен быть не мение 6 символов
    </div>

    <!-- / Ошибки -->
    <form class="form-signin" [formGroup]="AddManagerForm">
      <div class="form-group">
        <label for="exampleInputEmail12">Имя</label>
        <input type="text" [formControl]="AddManagerForm.controls['name']" class="form-control" id="exampleInputEmail12" placeholder="Имя" name="name">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail12">Email</label>
        <input type="email" [formControl]="AddManagerForm.controls['email']" class="form-control" id="exampleInputEmail12" placeholder="E-mail" name="email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Сменить пароль</label>
        <input type="password" [formControl]="AddManagerForm.controls['password']" class="form-control" id="exampleInputPassword1"
          placeholder="Пароль">
      </div>
    </form>
  </div>
  <div class="modal-footer">
      <!-- {{AddManagerForm.value}} -->
      <!-- {{save.modalLoading}} -->
      <span class="btn btn-outline-success" style="cursor:pointer;" *ngIf="AddManagerForm.invalid && !save.modalLoading"><i class="fa fa-user-plus" aria-hidden="true"></i> Добавить менеджера</span>
      <span class="btn btn-success" style="cursor:pointer;" (click)="save.addManager(AddManagerForm.value, close)" *ngIf="!AddManagerForm.invalid && !save.modalLoading"><i class="fa fa-user-plus" aria-hidden="true"></i> Добавить менеджера</span>
      <button class="btn btn-success" style="cursor:pointer;" *ngIf="save.modalLoading" [disabled]="save.modalLoading"><i class="fa fa-user-plus" aria-hidden="true"></i> Добавление...</button>
  </div>
</ng-template>
<!-- /Modal -->