<div class="wrapper">
  <form class="form-signin" [formGroup]="LoginForm" (ngSubmit)="submit(LoginForm.value)">       
    <h2 class="form-signin-heading" style="margin-bottom: 10px;">Авторизация</h2>
    
    <!-- Ошибки -->
    <div class="alert alert-danger" *ngIf="errorMessage != ''">{{errorMessage}}</div>

    <div *ngIf="LoginForm.controls['email'].hasError('required') && LoginForm.controls['email'].dirty" class="alert alert-danger">
      Ввведите Email
    </div>

    <div *ngIf="LoginForm.controls['email'].hasError('email') && LoginForm.controls['email'].dirty" class="alert alert-danger">
      Не корректный email
    </div>

    <div *ngIf="LoginForm.controls['password'].hasError('required') && LoginForm.controls['password'].dirty" class="alert alert-danger">
      Введите пароль
    </div>
    <!-- / Ошибки -->

    <input type="text" [formControl]="LoginForm.controls['email']" class="form-control" name="email" placeholder="Email" required="" autofocus="" />
    <input type="password" [formControl]="LoginForm.controls['password']" class="form-control" name="password" placeholder="Пароль" required=""/>      
    <button *ngIf="!isLoading" class="btn btn-lg btn-primary btn-block" [disabled]="!LoginForm.touched || LoginForm.invalid && LoginForm.dirty" type="submit">Войти</button>   
    <button *ngIf="isLoading" class="btn btn-lg btn-primary btn-block" [disabled]="true">Авторизация...</button>   

    <p class="text-center" style="margin-top: 20px; margin-bottom: -20px">
        <a routerLink="/signup">Регистрация</a>
    </p>
  </form>
</div>