<div class="card-group" *ngIf="treeGroups != undefined">
  <div class="card">
    <div class="card-header">
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
          <div class="nav-link disabled" style="font-size: 1.2rem;">{{titler}}</div>
        </li>
        <li class="nav-item" *ngIf="addRoot">
          <span class="btn btn-primary btn-sm" (click)="addTemp(tree, 0)" style="margin-bottom: -15px; cursor:pointer;"><i class="fa fa-plus" aria-hidden="true"></i> Добавить корневую группу</span>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <div *ngIf="treeGroups.length == 0">
          <div class="alert alert-warning" role="alert">Группы не найдены. Создайте группу, для работы.</div>
      </div>
      <tree-root #tree [nodes]="treeGroups" (activate)="onActive($event)" (deactivate)="onDeactivate($event)">
        <!-- <ng-template #treeNodeTemplate let-node let-index="index">
            <span>{{ node.data.name }}</span>
            <i class="fa fa-plus" aria-hidden="true"  (click)="onSelectedChange(node.data)"></i>
          </ng-template> -->
      </tree-root>
    </div>
  </div>

  <div class="card" *ngIf="state == 'add' || state == 'edit'">
    <div class="card-header">
      <div style="margin-top:.6rem;margin-bottom:.65rem;font-size: 1rem;">
        {{(state == 'add') ? 'Создание группы' : 'Редактирование'}}
      </div>
    </div>
    <div class="card-body">
      <div *ngIf="GroupForm.controls['name'].hasError('required') && GroupForm.controls['name'].dirty" class="alert alert-danger">
          Введите название группы
      </div>

      <div *ngIf="state == 'edit' && GroupForm.controls['sort'].hasError('required') && GroupForm.controls['sort'].dirty" class="alert alert-danger">
          Укажите сортировку
      </div>
      <form [formGroup]="GroupForm" (ngSubmit)="( state == 'add' ) ? addSubmit(tree, GroupForm.value) : editSubmit(tree, GroupForm.value)">
        <div *ngIf="state == 'edit'" class="form-group">
          <label>Родительская группа</label>
          <select class="form-control" [formControlName]="'parent_id'">
              <option 
                  *ngFor="let option of selectedTreeList" 
                  [selected]="option.selected" 
                  [ngValue]="option.id">{{"&nbsp;&nbsp;".repeat(option.lavel)}}{{option.name}}</option>
          </select>
          <!-- <pre>
            [formControl]="GroupForm.controls['parent_id']"
            {{selectedTreeList | json}}
          </pre> -->
        </div>
        <div class="form-group">
          <label>Название группы</label>
          <input type="text" [formControl]="GroupForm.controls['name']" class="form-control" placeholder="Название группы">
        </div>
        <div *ngIf="state == 'edit'" class="form-group">
            <label>Сортировка</label>
            <input type="text" [formControl]="GroupForm.controls['sort']" class="form-control" placeholder="Сортировка">
            <span class="form-text text-muted">Чем больше число, тем выше позиция элемента</span>
        </div>
        <div class="text-right">
            <button *ngIf="!isLoading" class="btn btn-outline-secondary" (click)="state='options'">Отмена</button>   
            <button *ngIf="!isLoading && state == 'add'" class="btn btn-success" [disabled]="!GroupForm.valid" type="submit">Добавить</button>   
            <button *ngIf="!isLoading && state == 'edit'" class="btn btn-success" [disabled]="!GroupForm.valid" type="submit">Сохранить</button>   
            <button *ngIf="isLoading" class="btn btn-success" [disabled]="true">Сохраняю...</button>   
        </div>
      </form>
    </div>
  </div>


  <div class="card" *ngIf="state == 'options'">
    <div class="card-header">
      <div style="margin-top:.6rem;margin-bottom:.65rem;font-size: 1rem;">
        Управление: {{selected.name}} {{typeRelation}}
      </div>
    </div>
    <div class="card-body">
      <h4>{{selected.name}}</h4>
      <hr>
      <!-- {{selected | json}} -->
      <div class="btn-group" role="group" aria-label="Basic example">
        <span *ngIf="selected.is_edit" style="cursor:pointer;" class="btn btn-primary btn-sm" (click)="addTemp(tree)"><i class="fa fa-plus" aria-hidden="true"></i></span>
        <span *ngIf="selected.is_edit && selected.is_root" style="cursor:pointer;" (click)="clone(selected.id)" class="btn btn-info btn-sm"><i class="fa fa-clone" aria-hidden="true"></i></span>
        <span *ngIf="selected.is_edit && !selected.is_root" style="cursor:pointer;" (click)="cloneChild(selected.id)" class="btn btn-info btn-sm"><i class="fa fa-clone" aria-hidden="true"></i></span>
        <span *ngIf="selected.is_edit" class="btn btn-secondary btn-sm" style="cursor:pointer;" (click)="editTmp(selected)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
        <span *ngIf="selected.is_edit" class="btn btn-warning btn-sm" style="cursor:pointer;" (click)="delete(selected.id)"><i class="fa fa-trash" aria-hidden="true"></i></span>
        <span class="btn btn-dark btn-sm" (click)="close(tree)" style="cursor:pointer;"><i class="fa fa-times" aria-hidden="true"></i> закрыть</span>
      </div>
      <div *ngIf="isScenario && selected.is_root">
        <hr>
        <a class="btn btn-success btn-sm text-white" style="cursor:pointer;" *ngIf="typeRelation == 'add'" (click)="addRelation(selected.id, tree)"><i class="fa fa-link" aria-hidden="true"></i> Привязать к сценарию</a>
        <a class="btn btn-danger btn-sm text-white" style="cursor:pointer;" *ngIf="typeRelation == 'delete'" (click)="deleteRelation(selected.id, tree)"><i class="fa fa-chain-broken" aria-hidden="true"></i> Отвязать от сценария</a>
      </div>
      <div>
        <hr>
        <a class="btn btn-primary btn-sm  text-white" style="cursor:pointer;" (click)="openModal(question)"><i class="fa fa-question" aria-hidden="true"></i> Вопросы и ответы</a>
      </div>
    </div>
  </div>
</div>
<div *ngIf="treeGroups == undefined">
  <p class="lead">Загрузка групп</p>
</div>

<ng-template #question let-save="save" let-close="close">
  <app-question [group]="selected" [save]="save" [close]="close" ></app-question>
</ng-template>