/* You can add global styles to this file, and also import other style files */
@import '~angular-tree-component/dist/angular-tree-component.css';
/* @import '~froala-editor/css/froala_style.min.css' */


.plashkaAnswer{
    background-color: #311b92;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    cursor: pointer;
}

.blockAnswer{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    border-bottom: 1px solid rgba(0,0,0,.1);
}


.list-group-flush .active{
    background-color: #311b92 !important;
}

.st{
    /* position: fixed; */
}

.fx{
    position: fixed;
    top: 10px;
    right: 15px;
}

.question{
    margin-bottom: 1rem;   
}

a{
    color: #311b92 !important;
}

.navbar .nav-link, .navbar-brand{
    color: white !important;
}

#zooGroups{
    overflow-y: scroll;
    overflow-x: hidden;
}

.fr-wrapper div a:first-child { display:none !important; }

