<div class="wrapper">
    <!-- Modal -->
    <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Пользовательское соглашение</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Собственное подмножество, очевидно, недоказуемо. Следствие: сходящийся ряд ускоряет сходящийся ряд. То, что написано на этой странице неправда! Следовательно: теорема Гаусса - Остроградского поддерживает отрицательный интеграл по бесконечной области.</p>
        <p>Начало координат отображает нормальный ротор векторного поля. Учитывая, что (sin x)’ = cos x, двойной интеграл нейтрализует расходящийся ряд. Замкнутое множество, очевидно, необходимо и достаточно.</p>
        <p>Относительная погрешность поддерживает экспериментальный минимум. Достаточное условие сходимости реально привлекает невероятный интеграл по ориентированной области, таким образом сбылась мечта идиота - утверждение полностью доказано. Дело в том, что нечетная функция положительна. Лемма, конечно, допускает бином Ньютона, в итоге приходим к логическому противоречию.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Закрыть</button>
      </div>
    </ng-template>
    <!-- /Modal -->

    
      
  <form class="form-signin" [formGroup]="SignupForm" (ngSubmit)="submit(SignupForm.value)">       
    <h2 class="form-signin-heading" style="margin-bottom: 10px;">Регистрация</h2>

    <!-- Успешная регистрация -->
    <div class="alert alert-success" *ngIf="displayRegMSG">
        <b>Успешная регистрация</b><br>
        <p>После активации аккаунта администратором, вы сможете воспользоваться системой</p>
      </div>
    
    <!-- Ошибки -->
    <!-- <div class="alert alert-danger" *ngIf="errorMessage != ''">{{errorMessage}}</div> -->
    <div class="alert alert-danger" *ngFor="let err of errors">{{err}}</div>
    <div *ngIf="SignupForm.controls['email'].hasError('required') && SignupForm.controls['email'].dirty" class="alert alert-danger">
      Ввведите Email
    </div>

    <div *ngIf="SignupForm.controls['email'].hasError('email') && SignupForm.controls['email'].dirty" class="alert alert-danger">
      Не корректный email
    </div>

    <div *ngIf="SignupForm.controls['password'].hasError('required') && SignupForm.controls['password'].dirty" class="alert alert-danger">
      Введите пароль
    </div>

    <div *ngIf="SignupForm.controls['password'].hasError('minlength') && SignupForm.controls['password'].dirty" class="alert alert-danger">
      Пароль должен быть не мение 6 символов
    </div>

    <div *ngIf="SignupForm.controls['allow'].hasError('required') && SignupForm.controls['allow'].dirty" class="alert alert-danger">
        Подтвердите свое согласие с пользовательским соглашением
      </div>
    <!-- / Ошибки -->
    <div  *ngIf="!displayRegMSG">
        <input type="text" [formControl]="SignupForm.controls['name']" class="form-control" name="name" placeholder="Имя" autofocus="" />
        <input type="text" [formControl]="SignupForm.controls['email']" class="form-control" name="email" placeholder="Email" required="" autofocus="" />
        <input type="text" [formControl]="SignupForm.controls['company']" class="form-control" name="company" placeholder="Название компании" autofocus="" />
        <input type="password" [formControl]="SignupForm.controls['password']" class="form-control" name="password" placeholder="Пароль" required=""/>      
        <div class="checkbox">
            <label>
              <input type="checkbox" value="remember-me" [formControl]="SignupForm.controls['allow']"> Я согласен с <a (click)="openModal(content)" class="text-primary">пользовательским соглашением</a>
            </label>
          </div>
        <button *ngIf="!isLoading" class="btn btn-lg btn-primary btn-block" [disabled]="!SignupForm.touched || SignupForm.invalid && SignupForm.dirty" type="submit">Зарегистрироваться</button>   
        <button *ngIf="isLoading" class="btn btn-lg btn-primary btn-block" [disabled]="true">Отправка...</button>   
    </div>
    
    <p class="text-center" style="margin-top: 20px; margin-bottom: -20px">
        <a routerLink="/login">Войти</a>
    </p>
  </form>
</div>